.primary {
  /* orange */
  color: hsl(26, 100%, 55%);
  /* Pale orange */
  color: hsl(25, 100%, 94%);
}

.neutral {
  /* Very vark blue */
  color: hsl(220, 13%, 13%);
  /* Dark grayish blue */
  color: hsl(219, 9%, 45%);
  /* Grayish blue */
  color: hsl(220, 14%, 75%);
  /* Light grayish blue */
  color: hsl(223, 64%, 98%);
  /* White */
  color: hsl(0, 0%, 100%);
  /* Black (with 75% opacity for lightbox background) */
  color: hsl(0, 0%, 0%);
}

/********/
/*GLOBAL*/
/********/

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  z-index: 1;
}

/********/
/*HEADER*/
/********/

#top-nav {
  border-bottom: solid 3px hsl(223, 64%, 98%);
  display: flex;
  align-items: baseline;
}

#top-nav ul {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  padding-inline-start: 0;
  width: 100%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#top-nav .logo-sneakers {
  margin-right: 5%;
}

#top-nav ul li:not(:first-child) {
  color: hsl(219, 9%, 45%);
  margin-right: 3%;
  cursor: pointer;
  padding-bottom: 4%;
  border-bottom: solid 5px transparent;
}

#top-nav ul li:not(:first-child):hover {
  color: black;
  border-bottom: solid 5px hsl(26, 100%, 55%);
}

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.panier {
  cursor: pointer;
  margin-right: 2rem;
}

.image-avatar {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  border: solid 3px transparent;
}

.image-avatar img {
  object-fit: cover;
  width: 100%;
}

.image-avatar:hover {
  border-radius: 50px;
  border: solid 3px hsl(26, 100%, 55%);
}

.shop-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-modal {
  display: none;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 4px 8px hsl(219, 9%, 45%);
  border-radius: 5px;
  width: 21rem;
  margin-right: 0;
  position: absolute;
  right: -3rem;
  top: 4rem;
}

.p-cart {
  padding-left: 8%;
  padding-bottom: 5%;
  font-weight: bold;
  border-bottom: solid 3px hsl(223, 64%, 98%);
  margin-block-start: 1.5rem;
  margin-block-end: 0em;
}

.cart-product {
  display: none;
  color: hsl(219, 9%, 45%);
  font-weight: bold;
  height: 12.5rem;
  justify-content: center;
  align-items: center;
}

.cart-choice {
  display: none;
  color: hsl(219, 9%, 45%);
  height: 12.5rem;
  flex-direction: column;
}

.top-choice {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 2rem auto;
  font-size: 0.9rem;
}

.top-product-img {
  width: 4rem;
  margin-right: 1rem;
}

.top-product-text {
  line-height: 1.4rem;
}

.result-text {
  font-weight: bold;
  color: black;
  margin-block-start: 1.3em;
  margin-block-end: 0em;
  margin-right: 0.5em;
}

.top-product-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.top-product-delete {
  cursor: pointer;
}

.valid-choice {
  display: flex;
  justify-content: center;
}

.valid-choice button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  border: none;
}

/************/
/****MAIN****/
/************/

main {
  display: flex;
  padding-top: 2rem;
}

.product-img {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.product-description {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

/* PRODUCT IMAGE */

.big-prod {
  display: none;
  cursor: pointer;
}

.big-prod img {
  width: 100%;
  border-radius: 15px;
}

.big-img img {
  width: 100%;
  border-radius: 15px;
}

.thumbnail-section {
  display: flex;
  justify-content: space-between;
}

.thumbnail-img {
  margin-top: 5%;
  width: 6rem;
  height: 6rem;
  border: solid 3px transparent;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail-img img {
  width: 100%;
  object-fit: cover;
}

.thumbnail-img:hover {
  border: solid 3px hsl(26, 100%, 55%);
}

.thumbnail-img:hover img {
  opacity: 60%;
}

.bg-opacity {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: hsl(0, 0%, 0%, 75%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider {
  display: none;
  justify-content: center;
  position: absolute;
  z-index: 4;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.previous-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 5;
  top: 45%;
  left: 22%;
}

.next-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 5;
  top: 47.5%;
  right: 29.3%;
}

.close-slider {
  cursor: pointer;
  position: absolute;
  z-index: 4;
  right: 31.5%;
  top: 11%;
}

.previous-slider svg:hover path {
  stroke: hsl(26, 100%, 55%);
}

.next-slider svg:hover path {
  stroke: hsl(26, 100%, 55%);
}

.close-slider svg:hover path {
  fill: hsl(26, 100%, 55%);
}

.big-slider-elements {
  display: none;
}

.big-slider-elements img {
  width: 100%;
  border-radius: 15px;
}

.big-img-slider {
  width: 50%;
  position: relative;
  padding-bottom: 3rem;
}

.thumbnail-slider {
  display: none;
  justify-content: space-between;
  position: absolute;
  z-index: 4;
  width: 35%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnail-slider-img {
  margin-top: 5%;
  width: 6rem;
  height: 6rem;
  border: solid 3px transparent;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail-slider-img:hover {
  border: solid 3px hsl(26, 100%, 55%);
}

.thumbnail-slider-img img {
  width: 100%;
  object-fit: cover;
}

.thumbnail-slider-img:hover {
  border: solid 3px hsl(26, 100%, 55%);
}

.thumbnail-slider-img:hover img {
  opacity: 60%;
}

.thumbnail-border {
  display: block;
  border: solid 3px hsl(26, 100%, 55%);
  opacity: 60%;
}

/* PRODUCT DESCRIPTION */

.company-name {
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  margin-top: 15%;
}

.product-description h1 {
  color: hsl(220, 13%, 13%);
  font-weight: bold;
  font-size: 3rem;
}

.text-description {
  color: hsl(219, 9%, 45%);
  line-height: 1.4rem;
}

.promo-price {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.product-price {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 5%;
}

.reduction {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.real-price {
  color: hsl(220, 14%, 75%);
  margin-bottom: 5%;
  text-decoration: line-through;
  font-weight: bold;
}

/* SELECT PRODUCT */

.select-product {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.more-less {
  display: flex;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  margin-right: 10%;
  padding: 15px;
  border-radius: 5px;
  width: 23%;
}

.more-less img {
  cursor: pointer;
}

.quantity {
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
}

.add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 0 10px;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
  outline: none;
  border: none;
}

.add-product:hover {
  opacity: 60%;
}

.add-product img {
  height: 1rem;
  margin-right: 5%;
  color: #ffffff;
}

/* Priorité */

.show {
  display: flex;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1500px) {
  .close-slider {
    top: 16%;
  }
}

@media only screen and (max-width: 1400px) {
  .close-slider {
    top: 15%;
  }
}
